<div class="add-post-container">
  <app-button-backward></app-button-backward>
  <form (ngSubmit)="onSubmitForm()">
    <h2>Créer un nouvel article</h2>
    <mat-form-field>
      <mat-label>Sélectionner un thème</mat-label>
      <mat-select>
        <mat-option value="Option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Titre de l'article</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contenu de l'article</mat-label>
      <textarea rows="8" matInput></textarea>
    </mat-form-field>
    <app-button [type]="'submit'" [label]="'Créer'"></app-button>
  </form>
</div>
