<h1>S'inscrire</h1>
<form action="">
  <div class="form-row">
    <label>Nom d'utilisateur</label>
    <mat-form-field>
      <mat-label>vincent danchaud</mat-label>
      <input matInput type="text" />
    </mat-form-field>
  </div>
  <div class="form-row">
    <label>Adresse email</label>
    <mat-form-field>
      <mat-label>example&#64;email.com</mat-label>
      <input matInput type="email" />
    </mat-form-field>
  </div>
  <div class="form-row">
    <label>Mot de passe</label>
    <mat-form-field>
      <mat-label>Exemple123!</mat-label>
      <input matInput type="password" />
    </mat-form-field>
  </div>
  <div class="btns-actions">
    <button type="submit">S'inscrire</button>
  </div>
</form>
