@use "@angular/material" as mat;

/** TOOLBAR NAV **/
.header-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mat.elevation(3);

  .header-logo {
    height: 100%;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 1.5em;
    list-style-type: none;
    padding: 0;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: var(--main-color);

    .icon {
      border-color: var(--main-color);
    }
  }
}

/** LINKS **/
.nav-link {
  text-decoration: none;
  color: black;
}

/** ICON **/
.icon {
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.75em; // 18px
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
}
