mat-sidenav-container {
    height: 100%;
    width: 100%;
}

mat-sidenav{
    padding: 1em 0;
    text-align: right;

    /* Profile */
    mat-list-item.profile{
        display: flex;
        position: absolute;
        bottom: 5px;

        a{
            display: flex;
            justify-content: end;   
        }

        &:hover{
            color: #7451EB;
        
            .icon{
                color: #7451EB;
                border-color: #7451EB; 
            }
        }

    }

    /* log out */
    mat-list-item.logout{
        
        a {
            color: red;
        }

        &:hover {
            text-decoration: underline;
            color: red;
        }
        
    }
}

/** LINKS **/
.nav-link{
    text-decoration: none;
}


.icon{
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 50%;
    padding: 0.25em;
}

/** Typographie **/
.article, .theme{
    font-size: x-large;
}